<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climbing Skills</title>
</head>
<body>

{#menu bar#}
{#<div class="menu-bar">#}
<ul>
    <li><a href="/index">Home</a> </li>
    <li><a href="/index/profile">Profile</a></li>
    <li><a href="about.html">About</a></li>
</ul>
{#</div>#}



                <h3> Climbing Skills </h3>




                <div class="lesson-start">
                    <h2> This is the start to learning basic climbing skills</h2><br>


                    <h2> Click the next button to start!</h2>
                </div>

{#                <button class="button" href="/login/toprope2"> Next! </button>#}
                <a href="/index/climbingskills2" class="button">Next!</a>

<div class="progress">
    <div class="progress-bar" style="width:0%">0%</div>
  </div>




</body>
</html>